:root {
  /* Paleta FinanceFlow */
  --primary: #10b981; /* Verde Esmeralda (Ação Principal) */
  --primary-dark: #059669; /* Hover */

  --sidebar-bg: #1e293b; /* Azul/Cinza Escuro (Profissional) */
  --sidebar-text: #94a3b8; /* Texto secundário */
  --sidebar-active: #ffffff; /* Texto ativo */
  --sidebar-active-bg: rgba(255, 255, 255, 0.1);

  --bg-body: #f3f4f6; /* Cinza Gelo (Fundo da App) */
  --text-main: #111827; /* Preto suave */

  --danger: #ef4444; /* Despesas */
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--bg-body);
  color: var(--text-main);
  overflow: hidden; /* Importante para o layout funcionar */
}
